html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background) !important;
  color: var(--color-text) !important;
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 0.5554vw;
  }
}

@media screen and (min-width: 2040px) {
  html {
    font-size: 70%;
  }
}

body {
  font-feature-settings: 'palt';
  background-color: none !important;
  color: var(--color-text);
  /* font-family: var(--font-noto); */
  /* text-underline-offset: 0px; */
  font-size: 1.4rem;
}

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
}
/* main {
  font-family: var(--font-noto);
} */

[data-radix-popper-content-wrapper] > div {
  background-color: var(--color-white) !important;
  color: var(--color-black) !important;
  border-radius: 4px;
  border: solid 1px var(--color-black) !important;
}

[data-radix-popper-content-wrapper] input,
[data-radix-popper-content-wrapper] button {
  margin: 0;
  color: var(--color-black) !important;
  font-family: var(--font-inter) !important;
  line-height: 1;
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-align: left;
  border: solid 1px var(--color-black);
  border-radius: 4px;
  background: var(--color-white);
  padding: 0 0.4rem;
}

[data-radix-popper-content-wrapper] select:focus-visible,
[data-radix-popper-content-wrapper] input:focus-visible,
[data-radix-popper-content-wrapper] button:focus-visible {
  outline: none !important;
}

[data-radix-popper-content-wrapper] > div > div > div:first-child {
  display: none;
}

[data-radix-popper-content-wrapper] > div > div > div > div:nth-child(1) select {
  background: var(--color-white);
  color: var(--color-black) !important;
  font-family: var(--font-inter) !important;
  border-radius: 4px;
  border: solid 1px var(--color-black);
  height: 2rem;
  font-size: 1rem;
  padding: 0;
}

[data-radix-popper-content-wrapper] > div > div > div > div:nth-child(1) > div:nth-child(1) > div {
  min-width: 2rem !important;
  border: none;
}
[data-radix-popper-content-wrapper] > div > div > div > div:nth-child(1) > div:nth-child(1) > div div {
  min-width: 2rem !important;
  border-radius: 4px;
  border: solid 1px var(--color-black);
}

[data-radix-popper-content-wrapper] > div > div > div > div:nth-child(2) span {
  padding-right: 0.2rem;
}

[data-radix-portal] > div > div > div[role='listbox'] {
  border: solid 1px var(--color-text);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: var(--color-background);
  overflow: hidden;
}

[data-radix-select-viewport] > div {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  color: var(--color-text);
  outline: none !important;
}

[data-radix-select-viewport] > div:hover {
  background: var(--color-text) !important;
  color: var(--color-background) !important;
}

td{
  padding: 9px 0 10px;
  vertical-align:middle;
}
