:root {
  --color-white: #fff;
  --color-black: #000;
  --color-border: #808080;
  --color-gray: #c2c9cc;
  --color-yellow: #f5d849;
  --color-brown: #b28f6b;
  --color-blue: #3d87cc;
  --color-orange: #ff5c38;
  --color-green: #36b943;
  --color-text: #000;
  --color-background: #fff;
  --textsize-variant: '12px';
  --font-variant: 'Noto Serif JP';
  --font-base: var(--font-variant), serif;
  --font-noto: 'Noto Serif JP', serif;
  --font-inter: 'Inter', sans-serif;
}
