:root {
  --color-white: #fff;
  --color-black: #000;
  --color-border: #808080;
  --color-gray: rgb(194, 201, 204);
  --color-yellow: rgb(245, 216, 73);
  --color-brown: rgb(178, 143, 107);
  --color-blue: rgb(61, 135, 204);
  --color-orange: rgb(255, 92, 56);
  --color-green: rgb(54, 185, 67);
  --color-text: #000;
  --color-background: #fff;
  --font-noto: 'Noto Serif JP', serif;
  --font-inter: 'Inter', sans-serif;
}
